window {
    margin: 0px;
    border: 1px solid rgba(205, 189, 255, 0.8);
    background-color: rgba(27, 16, 22, 0.8);
}

#input {
    margin: 5px;
    border: none;
    color: #f3dde6;
    background-color: rgba(40, 28, 34, 0.8);
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: rgba(27, 16, 22, 0.8);
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: rgba(27, 16, 22, 0.8);
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #f3dde6;
} 

#entry.activatable #text {
    color: #34275e;
}

#entry > * {
    color: #f3dde6;
}

#entry:selected {
    background-color: rgba(205, 189, 255, 0.8);
}

#entry:selected #text {
    font-weight: bold;
}
