window {
    margin: 0px;
    border: 1px solid rgba(77, 218, 216, 0.8);
    background-color: rgba(12, 20, 27, 0.8);
}
#input {
    margin: 5px;
    border: none;
    color: #dbe3ed;
    background-color: rgba(7, 22, 37, 0.8);
}
#inner-box, #outer-box {
    margin: 5px;
    border: none;
    background-color: rgba(12, 20, 27, 0.8);
}
#scroll {
    margin: 0px;
    border: none;
}
#text {
    margin: 5px;
    border: none;
    color: #dbe3ed;
}
#entry.activatable #text {
    color: #003736;
}
#entry > * {
    color: #dbe3ed;
}
#entry:selected {
    background-color: rgba(128, 213, 211, 0.8);
}
#entry:selected #text {
    font-weight: bold;
}
